<div class="d-flex flex-column">
  <h4 style="margin: 0 auto;">Connected<span class="badge badge-primary" style="margin-left:10px;">{{userCount | async}}</span></h4>

  <ul style="border-top: 1px solid lightgrey;margin-top:10px;" *ngIf="users">
    <div style="margin-top:10px;">
      <li *ngFor="let user of users | async">{{user}}</li>
    </div>
  </ul>
</div>

<!--
<div class="d-flex" style="border-top: 1px solid lightgrey;padding:10px;">
  <button class="btn btn-primary btn-block" style="margin-top:10px;" (click)="onJoin()">Options</button><br>
</div>
-->
