<router-outlet></router-outlet>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

    <div class="container">
      <a class="navbar-brand" href="#">Chat Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

<div class="justify-content-center">
  <div class="btn-group form-inline my-2 my-lg-0" role="group" aria-label="">
    <button type="button" class="btn btn-sm btn-primary" routerLinkActive="active">
      <mat-icon> home </mat-icon>
    </button>
    <button type="button" class="btn btn-sm btn-primary" routerLinkActive="active"><mat-icon>group</mat-icon> </button>
    <button type="button" class="btn btn-sm btn-primary" routerLinkActive="active"><mat-icon>notifications</mat-icon> </button>
    <button type="button" class="btn btn-sm btn-primary" routerLinkActive="active"><mat-icon>settings</mat-icon> </button>
  </div>

</div>

    </div>
    </div>
  </nav>

<br />

    <div class="container">

        <div class="jumbotron">
          <h1 class="display-3">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
          </p>
        </div>

    </div>





    <br /><br />
    <mat-spinner></mat-spinner>
    <br />
<h1>
  {{message}}
</h1>
-->
